.gridcontainer {
  display: grid;
  width:75%;
  margin: 0 auto;
  position: relative;
  height:205px;
  top: 200px;
  grid-template-rows: 1fr 1fr;
  
 
   
}
.gridproductcard{
   display: grid;
   height: 120px;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   justify-content: space-between;
   grid-column-gap: 1%;

}

 .gridtitle>h3 {
   font-weight:500;
   font-family: 'Roboto';
   
}
.gridtitle>h6 {
   font-weight: 100;
   font-family:'Roboto';
  
   margin-bottom: 25px;
   
   
}
/*image and text*/
.griditems {
   display: grid;
   grid-template-columns: auto auto ;
   grid-column-gap: 10px;
   height: 120px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 8px 0px;
   justify-content: start;
   cursor: pointer;
   
} 



.imgtag  {
   width: 120px;
   height: 120px;
   transform: translateZ(0);
   transition: transform 0.6s ease-out;
   overflow: hidden;
   
}

.imgtag:hover {
   transform: scale(1.025);
}
.textitem {
   display: grid;
   grid-template-rows: auto auto auto;
   flex-wrap: wrap;
}
.textitem .price {
  color: red;
  margin:  0px;
}
.textitem>h6 {
   overflow: auto;
   font-size: 16px;
   font-weight: 500px;
   margin: 0px;
} 









